:root {
  --padding: 40px;
  --color: white;
  --bgcolor: #2e80fa;
  --margin: 5px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(1stbg.jpg);

}

#nav {
  padding-top: 50px;
  /* justify-content: space-between; */
  position: sticky;
  top: 0%;
  background-color: transparent;
}

.name {
  color: #f3ae81;
  margin: 0% 75% 0% 5%;
}

.firstcon {
  background-repeat: repeat;
  height: 468dpx;
}

.container1 {
  display: flex;
  margin: 20px 50px 20px 50px;
  justify-content: space-between;
}

@media (max-width: 650px) {
  .container1 {
    margin: 0px;
  }

  .writting {
    width: 200px;
  }

  .name {
    margin: 0% 5% 0% 1%;
  }
}

.writting {
  width: 400px;
}

.writting h1 {
  color: #f3ae81;
  padding: 60px 0px 10px 150px;
}

.writting p {
  color: white;
  font-size: large;
  padding-left: 20px;
}

.img {
  margin: 50px 250px 0px 0px;
  box-shadow: inset;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

.endingoffirstcon {
  display: flex;
  width: 700px;
  height: 100px;
  margin: 50px;
  color: #f3ae81;
  font-size: small;
}

@media (max-width: 700px) {
  .endingoffirstcon {
    display: grid;
    width: 350px;
    margin: 25px;
  }
  .endingoffirstcon {
    height: 300px;
    margin: 10px;
  }
  .writting h1 {
    padding: 10px 0px 10px 50px;
  }
}

.stend {
  padding: 10px;
}

.ndend {
  padding: 10px;
}

.secondcon {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  color: var(--color);
  background-image: url(2ndbg.jpg);
  height: 1030px;
  
  
}

.one {
  height: 380px;
  width: 250px;
  background-color: var(--bgcolor);
  margin: var(--margin);
  padding: 20px;
  color: var(--color);
  border-radius: 10px;
}

/* This media is for all the content in that page */
@media (max-width: 1000px) {
  .secondcon {
    grid-template-columns: auto auto auto;
  }

  .one:hover {
    transition: all 2s ease;
    border-radius: 19px;
    background-color: #2f6bb9;
    width: 400px;
    margin: var(--margin);
    padding: var(--padding);
  }
}

@media (max-width: 800px) {
  .secondcon {
    grid-template-columns: auto auto;
    height: fit-content;
  }
  .text{
    display: none;
  }
  .one {
    height: 100px;
    width: 300px;
    text-align: center;
    
  }

  .one{
     transition: all 2s ease;
    border-radius: 19px;
    background-color: #2f6bb9;width: 400px;
    height: 250px;
    margin: var(--margin);
    padding: var(--padding);

    width: 300px;
    height: 250px;
    margin: var(--margin);
    padding: var(--padding);
  }
  .one:hover .text {
   padding-right: 50px;
    width: 400px;
    display: block;
   /* .one{
    position: relative;
    margin: 20px;
    
} */
 
  }
  /* .one{
    position: relative;
    margin: 20px;
    
} */
}

@media (max-width: 565px) {
  .secondcon {
    grid-template-columns: auto;
    height: fit-content;
    width: fit-content;
  }
  .thirdcon{
    width: 435px;
  }
  .forthcon{
    width: 435px;
  }

  .one{
    transition: all 2s ease-in-out;
   border-radius: 19px;
   background-color: #2f6bb9;
   width: 420px;
   height: 250px;
   margin: var(--margin);
   padding: var(--padding);
 }
 .one:hover .text {
  padding-right: 50px;
   width: 400px;
   display: block;
   
 }
  /* .one{
      position: relative;
      margin: 20px;
      
  } */
}

.thirdcon {
  text-align: center;
  color: hsl(24, 83%, 73%);
  background-image: url(4thbg.jpg);
  height: 618px;
}

.mainobj {
  padding-top: 10px;
}

.workbtns {
  margin: 50px;
}

.forthcon {
  text-align: center;
  color: #f3ae81;
  height: 400px;
  background-color: #0e3970;
}

.context h2,
p {
  font-size: x-large;
}

.form {
  margin-left: 30%;
}

.message {
  margin-top: 10px;
  margin-left: 30%;
}
